body {
    background-color: #cccccc
}

h1 {
    color: #ffffff;
}

form {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 2em;
    margin: 5em auto;
    width: 30%;
}

input {
    margin-bottom: 1em;
}

#login-btn {
    width: 100%;
    font-weight: bold;
}

.container-fluid {
    background-color: #a52a2a;
}